main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
}
#signature{
    justify-content: center;
    margin-left: 100px;
    user-select: none;
}
#signature>img{
    width: 150%;
}
#mainpicture{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#mainpicture>#bg-color-main-img{
    width: 600px;
    height: 600px;
    display: flex;
    border-radius: 100%;
    background: linear-gradient(129.53deg, #473176 9.61%, #F39366 51.53%, #191919 93.16%);
}
#mainpicture>#bg-color-main-img>img{
    width: 300%;
}
#infopicture{
    margin-right: 100px;
}
#infopicture>h1 {
    color: var(--orange);
    margin-bottom: 100px;
    font-size: 3em;
}
#infopicture>h2 {
    color: white;
    font-size: 3em;
}